[submodule "packages/huma-protocol"]
	path = 1_huma_protocol
	url = git@github.com:00labs/huma-contracts.git
	branch = master
[submodule "packages/evaluation-agent"]
	path = 3_evaluation-agent
	url = git@github.com:00labs/evaluation-agent.git
[submodule "packages/income-portfolio-platform"]
	path = 2_income-portfolio-platform
	url = git@github.com:00labs/income-portfolio.git
[submodule "4_sdk/invoice_factoring_sdk"]
	path = 4_sdk
	url = git@github.com:00labs/huma-sdk-react.git
